<% if @answer.errors.present? %>
    <% @answer.errors.full_messages.each do |message| %>
        $('.answer-errors').html('<%= j message %>');
    <% end %>
<% else %>
<%# ActionCable.server.broadcast ‘question_channel’, message: "<p>Test message</p>" %>
    $('.answers').html('<%= j render 'questions/answers' %>');
    $('textarea#answer_body').val('');
<% end %>
